
/*div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
  }
  */

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }





  // hero-section slide-5
  @keyframes arrow{
    0%{ top: 40%; }
    25%{ top: 42.5%;}
    50%{ top: 40%;}
    75%{  top: 42.5%;}
    100%{ top: 40%; }
  }

  @keyframes arrowDown-itemOne{
    0%{opacity: 0;}
    100%{opacity: 0.2; background-color: $primary-green; }
  }

  @keyframes arrowDown-itemTwo{
    0%{opacity: 0; }
    100%{opacity: 0.3; background-color: $primary-green;}
  }

  @keyframes arrowDown-itemThree{
    0%{opacity: 0;}
    100%{opacity: 0.4; background-color: $primary-green;}
  }

  @keyframes arrowDown-itemFour{
    0%{opacity: 0;}
    100%{opacity: 0.5; background-color: $primary-green; }
  }

  @keyframes arrowDown-itemFive{
    0%{opacity: 0;}
    100%{opacity: 0.8; border-top: 5rem solid $primary-green; }
  }

  @keyframes heroButton{
    0%{opacity: 0;}
    100%{opacity: 1; background-color: $primary-green;  }
  }

  

  //

  //sectionOne 
  .sectionOne{
    //slideIN animation
  .come-in {
    transform: translateY(150px);
    animation: come-in 1s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.8s;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }

}