*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
}


html {
  //*62.5% is equal to 10px = 1rem
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  body {
    //includes the padding and border in an element's total width and height
    box-sizing: border-box;
    a{
      text-decoration: none !important;
    }
    p,span{
      padding-bottom: 1rem;
    }

    section{
      &:not(:first-child){
        margin-top: 25rem;
        margin-bottom: 25rem;
      }
    }

    .section-title{
      padding-bottom: 7rem;
    }
  }
}
