/*“Web typography” refers to the appearance of all the text on your website. It includes basic 
CSS text properties like what font to use and whether it should be italic or not, but typography 
is much more than that. It’s about the space between and around letters, words, and lines. It’s 
the size of different runs of text in relation to one another, and the history behind each font family.

https://www.internetingishard.com/html-and-css/web-typography/
*/

/* !!!!___ Use % rather than px for all layout-related lenghts (including pictures) ___!!!! */

h1, h2, h3, h4, h5, h6{
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;  
    padding-bottom: 1rem;
    
}


//NAV
nav{  
    ul{
     li{
         a{
             color: $white;
             font-size: 2rem;
             @include respond(tab-land) {
                font-size: 1.8rem;
              }
             text-transform: uppercase;
             font-weight: bold;
             text-shadow: $black 0.1rem 0.1rem;
             &:hover{
                 color: $primary-pink;
             }
         }
     }
    }
  }
//NAV ENDS

//hero-section
.hero-section{
    .carousel-caption{   
        p{
            font-size: 5rem;
            text-transform: capitalize;
            text-shadow: $black 0.6rem 0.6rem;
            font-weight: bold;
        }
    }
    .carousel-item{
            &:nth-child(5){
                a{
                    font-size: 2.5rem;
                    font-weight: bold;
                    text-shadow: black 0.2rem 0.2rem;
                    color: $primary-pink;
                }
            }
    }
}
//hero-section END

//section-one
.sectionOne{
    .container{
          .row{
        word-spacing: 0.5rem;
        span{
            font-size: 130%;
        }      
    }  
    }  
}
//section-one ENDS

//section-five
.sectionFive{
    @include sectionMargin; 
    h1{
        text-align: center;
    }
    span{
        font-size: 250%;
        font-weight: bold;
    }
  
    .analogy{
         span{
            font-size: 210%;
        }    
    }

    .lead{
        text-align: center;
          button{
        font-size: 180%;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: $black 0.1rem 0.1rem;    
        &:hover{
            color: black;
            text-shadow: $white 0.1rem 0.1rem;
        }
    }
    }

}
//section-five ENDS

//section-seven
.sectionSeven{
    h2{
        text-align: center;
    }  
    span{
        font-size: 150%;
        font-weight: bold;
    }
    .card-text{
        text-align: center;
    }

    #accordionExample{
        .card-header{
               button{
            h3{
                color: $white !important;
                text-shadow: black 0.1rem 0.1rem;
                font-size: 200%;
                letter-spacing: 0.1rem;
                word-spacing: 0.5rem;
                text-align: left;
                
            }
        }  
        }    
           
    }
}
//section-seven ENDS


//section-nine
.sectionNine{
    span{
        font-size: 150%;
        font-weight: bold;
    }

}
//section-Nine ENDS

//footer
footer{
    color: $white;
    ul{
        h6{
            font-size: 190%;
            font-weight: bold;
            letter-spacing: 0.2rem;
            text-shadow: black 0.1rem 0.1rem;
            &:after {
                content: '';
                color: $primary-purple;
            }
        }
        li{
            a{
                text-decoration: none ;
                color: $white;   
                font-size: 150%;  
                &:hover{
                    color: $primary-pink;
                    text-decoration: none;
                }
                
            }
        }
    }
}
//footer ENDS