//NAV 
nav{  
    z-index: 999;
    display: flex;
    justify-content: center;
    background-color: $primary-green;
    margin-bottom: 10rem; 
    padding: 0.5rem 0;
    ul{
     li{
         margin: 0 1rem;
         padding: 0 1.2rem;
         a{
             &:hover{
                 animation: ease-in;
                 transition-delay: 0.1s;                  
             }
         }
     }
    }
  }
//NAV ENDS

//hero-section
.hero-section{
    .carousel-item{
            &:nth-child(5){
                .arrow-down{
                    position: absolute;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%, -40%);
                    text-align: center;   
                    animation-name: arrow;
                    animation-duration: 2s;
                    animation-delay: 4s;                  
                    div{
                        width: 2rem;
                        height: 5rem;
                        border: red solid 0.1rem;
                        margin: 1rem auto;
                        transition-property: opacity, background;
                        animation-fill-mode: forwards;
                        animation-duration: 1.3s;
                        opacity: 0;
                        &:first-child{
                        animation-delay: 1s;
                        animation-name: arrowDown-itemOne;                     
                        }
                        &:nth-child(2){
                        animation-delay: 1.3s;
                        animation-name: arrowDown-itemTwo;
                        }
                        &:nth-child(3){
                        animation-delay: 1.6s;
                        animation-name: arrowDown-itemThree;

                        }
                        &:nth-child(4){                   
                        animation-delay: 1.9s;
                        animation-name: arrowDown-itemFour;
                        }       
                        &:nth-child(5){
                            width: 0; 
                            height: 0; 
                            border: none;
                            border-left: 2.5rem solid transparent;
                            border-right: 2.5rem solid transparent;  
                            animation-delay: 2.2s; 
                            animation-name: arrowDown-itemFive; 
                        }

                    }
                }
                a{
                    display: inline-block;
                    position: absolute;
                    bottom: 15%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 1rem 2rem;
                    border-radius: 3rem !important;
                    border: red solid 0.1rem;
                    opacity: 0;
                    animation-name: heroButton;
                    animation-delay: 2.8s;
                    animation-fill-mode: forwards;
                    transition-property: transform;
                    transition-duration: 2s;
                    &:hover{ 
                        transform: translate(-50%, -50%) rotateY(180deg)  ;
                    }
                }
            }
    }
}
//hero-section ENDS

//section-one
.sectionOne{
    @include sectionMargin;
    overflow-x: hidden;
    .container{
       margin-top: 15rem;
          .row{
        display: flex;
        align-items: center;       
    }  
    }  
}
//section-one ENDS

//section-two
.sectionTwo{
    .image-banner{
        background-image: url(../images/sectionTwo/clearcut-forest.jpg) ;
    } 
}
//section-two ENDS

//section-three
.sectionThree{
    @include sectionMargin; 
    .bg-primary{
        background-color: $white !important;
}
    .card-body{
        overflow-x: hidden;
        border: none;
        padding: 0;
    }
}
//section-three ENDS

//section-four
.sectionFour{
    .image-banner{
        background-image: url(../images/sectionFour/chopped-forest.jpg) ;
    } 
}
//section-four ENDS

//section-five
.sectionFive{
    @include sectionMargin; 
    h1{
        margin: 3rem auto 3rem auto;
    }  
    .analogy{
         span{
            display: inline-block;
        }
        margin: 5rem auto 2rem auto; 
    
    }

    .lead{
          button{
        margin-top: 3rem;
        border-radius: 0.5rem;
        background-color: $primary-green;
        border: $primary-purple;
        padding: 0.5rem 2rem;
        
        &:hover{
            background-color: $primary-gray;
        }
    }
    }
    .modal-content{
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
    }

}
//section-five ENDS

//section-six
.sectionSix{
    .image-banner{
        background-image: url(../images/sectionSix/never.jpg) ;
    } 
}
//section-six ENDS


//section-seven
.sectionSeven{
    @include sectionMargin; 
    h2{
        margin: 3rem auto 3rem auto;
    }  

    iframe{
        margin: 3rem auto 3rem auto;
    }
    p{
        margin: 3rem auto 3rem auto; 
    }

    #accordionExample{
       margin-top: 5rem;

        iframe{
            float: right;      
            }
        .card-header{
            background-color: $primary-green;
               button{
                   &:focus{
                       outline: none;
                       box-shadow: none;
                   }

        }  
        }    
           
    }
}
//section-seven ENDS

//section-eight
.sectionEight{
    .image-banner{
        background-image: url(../images/sectionEight/pray.jpg) ;
    } 
}
//section-eight ENDS


//section-nine
.sectionNine{
    @include sectionMargin; 
    h2, iframe{
        margin: 3rem auto 3rem auto; 
    }
}
//section-nine ENDS

